* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #f6f6f6;
}

.titulo-blog {
    color: #f6f6f6;
}
.titulo-destaque {
    color: #FF5733;
}

.texto-destaque {
    color: #f6f6f6;
    margin: 0;
    border: 0;
    padding: 0;
    content: 0;
}