header {
    background-color: lightblue;
    color: white;
}

body {
    background-color: black;
    color: #f6f6f6;
}

h1 {
    color: #f6f6f6;
}

strong {
    color: dodgerblue;
}

p {
    color: darkgray;
}

button {
    background-color: green;
    color: white;
}

a {
    color: dodgerblue;
}

footer {
    background-color: gray;
    color: white;
}