header {
    background-color: lightblue;
    color: white;
}

body {
    background-color: #000000;
    color: #f6f6f6;
}

h1 {
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

p {
    color: darkgray;
}

button {
    background-color: green;
    color: white;
}

a {
    color: dodgerblue;
}

footer {
    background-color: gray;
    color: white;
}